.box-merah {
    width: 300px;
    height: auto;
    padding: 20px;
    border: 5px solid rgb(170, 170, 189);
    margin: 20px;
    background-color: red;
}

.box-pink {
    width: 600px;
    height: auto;
    padding: 10px;
    border: 5px solid rgb(101, 84, 84);
    margin: 20px;
    background-color: #9f5d68;
}

img {
    display: block;
    margin: 10px 0;
}